body {
    background: url("../IMG/background.jpg") no-repeat;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-flow: wrap column;
    width: 740px;
    height: auto;
    margin: auto;
}

.header {
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.header_logo {
    width: 250px;
    height: 50px;
    margin-bottom: 40px;
}

.header_menu {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    width: 740px;
    font-size: 20px;
    color: white;
}

.header_menu>a {
    color: white;
}

.header_menu>a>img {
    padding-right: 10px;
}

.container {
    padding: 50px 70px 30px 69px;
    background-color: #f3f3f3;
    color: #0e4d66;
    word-wrap: break-word;
    border-radius: 10px;
    box-shadow: 5px 5px 8px black;
    margin-bottom: 20px;
}

.container_header {
    padding-bottom: 10px;
    display: flex;
    align-items: flex-start;
}

.container_header_photo {
    float: left;
}

.container_header_lists {
    padding: 0px;
    display: flex;
    align-items: flex-start;
}

.container_header_lists>ul {
    margin-top: 0;
    position: relative;
    padding-left: 20px;
    display: inline-block;
    list-style-type: none;
    line-height: 2em;
}

.container_content>ul {
    display: inline-block;
    padding: 0px;
    margin: 0;
    list-style-type: none;
}

.containter__content_links {
    text-decoration-line: none;
    color: #0e4d66;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: inherit;
    height: 111px;
}

.footer_tel {
    color: #f2b01c;
    font-size: 24px;
}

.footer_tel_text {
    color: white;
}

.footer_logo {
    color: white;
    width: 169px;
    display: flex;
    align-items: center;
}

.footer_logo_img {
    float: left;
    margin-right: 10px;
}

.footer_logo_text {
    font-size: 12px;
}

.footer_logo_link {
    color: #4083a9;
}